.mainbody{
 margin-top: 4%;
    margin-left: 25%;
    margin-right: 25%;
    
}

.nav{
    margin-right: 90%
}

.firstblock{
    padding: 16;
    font-weight: bolder;
/*    color: white;*/
}
.secondblock{
    margin-top: 22%;
    margin-bottom: 36%;
/*    color: white;*/

}
.mainimage{

}